<div style="width: 80%; font-family: Arial, Helvetica, sans-serif; margin-right: 10%; margin-left: 10%;">

	<p>{first_name},</p>
	<p>This email is to inform you that <strong>your MVBC Library account is ready</strong>. Come and browse our titles and give our <em>self-checkout kiosk</em> a try:</p>
	<p>
	<ol>
		<li>On the iPad, scan the barcode of every book you want to checkout. (The camera is on the back side of the iPad)</li>
		<li>Tap the <em>'Checkout'</em> button.</li>
		<li>Enter your email address ({email}) or, scan your library card (attached) and tap <em>'OK'</em>.</li>
	</ol>
	<p></p>
	<p>Once you checkout your books, you have 3 weeks to return them. For return, just drop them into one of the boxes found by the kiosk.</p>
	<p>Also, the full catalog of our titles is available <a href="https://www.libib.com/u/mvbchurch" target="_blank">here on Libib</a>. Every book has been tagged in the system to tell you what section to find it at. You can use that same website for self-renewal in case you need extra time to read a book (see the instructions <a href="https://mvbchurch.org/files/Checkout%20Renewal.pdf">here</a>).</p>
	<p>Lastly, remember that our library is located next to the Fellowship Hall and it now contains 1500+ titles.</p>
	<p>Let me know if you have any questions.</p>
	<p>Regards,</p>
	<table width="100%" border="0" cellspacing="0">
		<tbody>
			<tr>
				<td width="50"><img width="40" height="40" alt="" src="https://www.bricksafe.com/files/abasurto/img/ImageLoader.jpg"></td>
				<td>Alex Basurto<br>MVBC Library Coordinator</td>
			</tr>
		</tbody>
	</table>
</div>
